<% layout('/layouts/boilerplate') %> 

<div class="row">
    <div class="col-6">
        <div class="card">
            <img class="card-img-top" src="<%=campgrounds.image%>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%=campgrounds.title%></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%=campgrounds.location%></li>
              <li class="list-group-item"><%=campgrounds.description%></li>
              <li class="list-group-item">$<%=campgrounds.price%>/night.</li>
            </ul>
            <div class="card-body">
                <a  class="card-link btn btn-info" href="/campgrounds/<%=campgrounds._id%>/edit">Edit</a>            
                <form class="d-inline" action="/campgrounds/<%=campgrounds._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                    <a  class="btn btn-primary" href="/campgrounds">Back to index</a>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago.
            </div>
          </div>
    </div>
    <div class="col-6">
      <h2>Leave a review</h2>
      <form class="mb-3 validated-form" action="/campgrounds/<%=campgrounds._id%>/reviews" method="POST" novalidate>
         <div class="mb-3">
          <label class= "form-label" for="rating">Rating</label>
          <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">  
          <!-- review[rating] permet d'isoler la partie rating de "l'objet" review -->
        </div>
        <div class="mb-3">
          <label class= "form-label" for="body">Review</label>
          <textarea name="review[body]" id="body" cols="30" rows="3" class="form-control" required></textarea>
          <!-- review[body] permet d'isoler la partie rating de "l'objet" review -->
          <div class="valid-feedback">
            Looks good!
        </div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>
      <%for(let review of campgrounds.reviews){%>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Rating: <%=review.rating%> </h5>
            <p class="card-text">Review: <%=review.body%> </p>
          </div>
      </div>
      <form action="/campgrounds/<%=campgrounds._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
      <button class="btn btn-sm btn-danger">Delete</button>
      </form>
     <%}%> 
    </div>
</div>





